body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.margin-top-30 {
  margin-top: 30px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-top {
  background-color: black;
  height: 28px;
}
.nav-dark {
  background-color: #252c36;
  height: auto;
  
}
.text-white {
  color: white;
}
.nav-brand {
  height: 70px;
}
.menu {
  list-style-type: none;
  margin-top: 10px;
}
.menu-item {
  display: inline-block;
  padding-right: 30px;
  color: whitesmoke;
  text-decoration: none;
}
.footer {
  list-style-type: none;
}

.dropdown {
  margin-left: 20px;
}
.product-card {
  cursor: pointer;
}


.footer-item {
  display: inline-block;
  padding-right: 40px;
  color: whitesmoke;
  text-decoration: none;
}
.below-item{
  color: #8a8c91;
  font-size: 14px;
}
.slider{
  height: auto;
  background-color: #f7f6f1;
}
.logos{
  height: auto;
  background-color: white;
  width: 100%;
  box-shadow:  0 0 20px -10px;
}

.list-of-products {
  height: auto;
  width: 100%;
  margin-top: 30px;
}

.footer-top {
  background-color: #252c36;
  height: 100px;
}
.footer-down{
  background-color: black;
  height: 30px;

}

.space-from-top {
  padding-top: 35px;
}
.icon-padding{
  padding-right: 10px;
}
.right-padding{
  padding-right: 30px;
  margin-top: 10px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.home-bg {
  background-color: #f7f6f1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
}

.grid-item {
  padding: 9px;
  font-size: 30px;
  text-align: center;
}

.smoke-bg {
  background-color: #f7f6f1;
  padding-top: 40px;
  padding-bottom: 30px;
}
.product-input {
  width: 1px;

}
.float-right{
  float: right;
}
.text-red {
  color: red;
}
/* code for new  */


.news__main {
  width: 65%;
  height: auto;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

.news {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  box-shadow:  0 0 20px -10px;
  padding: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}

.margin-top-60 {
  margin-top: 60px;
}
.bg-test{
  background-color: red;
}

.checked{
  color: orange;  
}
.pointer{
  cursor: pointer;
}
